body {
  background-image: url(../images/city.jpg);
  background-position: center 25%;
}

h1 {
  width: 60%;
  margin: 10px 0px 18px;
}

.card {
  width: 36rem;
  margin: 110px auto;
  box-shadow: 5px 5px 15px #4d4a52;
  border: 1px solid gray;
  position: relative;
}
.card-small {
  padding: 10px;
  margin: 10px 0;
}
.vl {
  border-left: 3px solid gray;
  height: 135px;
  position: absolute;
  left: 60%;
  margin-left: -3px;
  top: 21%;
}
.description {
  text-transform: capitalize;
}
.temperature {
  font-size: 34px;
}
.cardtext-left {
  line-height: 0.5;
}
.cardtext-right {
  position: absolute;
  left: 65%;
  top: 25%;
  line-height: 1;
}
.cardimg {
  width: 25%;
  position: absolute;
  left: 28%;
  top: 30%;
  padding: 10px;
}
.col {
  display: block;
  text-align: center;
}
.card-img-top {
  width: 80%;
  padding: 5px;
}
.maxtemp {
  font-weight: bold;
}
.mintemp {
  font-size: smaller;
}
.hl {
  border-top: 1px solid rgb(192, 190, 190);
  margin: 20px 0 10px 0;
}
.pointer {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: -12px;
}
.active {
  color: #4d74ad;
  cursor: auto;
}
.minicard {
  text-align: center;
}
